@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

header{
    height: 45%;
    padding: 0 20%;
    background-color: #777;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
    margin-bottom: 10px;
}

h1 b{
    font-weight: 500;
}

nav{
    width: 26%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

main{
    height: 45%;
    padding: 0 20%;
}

footer{
    height: 10%;
    padding: 0 20%;
    background-color: #777;
}

@media screen and (max-width: 900px){
    nav{
        width: 50%;
    }
    main{
        height: fit-content;
    }
}